/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Oleo+Script+Swash+Caps&display=swap');

/* removes all margin, padding and borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* styling for body */
body {
    font-family: "Montserrat", sans-serif;
    color: #ffd700;
    background-color: #000;
    overflow: scroll;
}

/* styling for header */
header {
    height: 80px;
    border-bottom: 1px solid #ffd700;
}

/* logo styling */
#logo {
    float: left;
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 300%;
    font-weight: 400;
    color: #ffd700;
    letter-spacing: 3px;
    margin-left: 25px;
}

/* menu styling */
#menu {
    float: right;
    font-size: 115%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f88657;
}

.active {
    border-bottom: 1px solid #f88657;
}

/* tag line styling */
#tag-line {
    clear: both;
    font-size: 95%;
    font-weight: 300;
    color: #f88657;
    margin-left: 50px;
    position: absolute;
    top: 60px;
}

/* hero image and text*/
#hero-image {
    clear: both;
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #ffd700;
}

#hero-text {
    font-size: 95%;
    width: 250px;
    height: 25px;
    background-color: rgba(248, 134, 87, 0.8);
    box-shadow: 5px 5px;
    position: absolute;
    top: 100px;
    right: 40px;
    margin-top: 100px;
    padding: 10px 10px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

#hero-text h2 {
    padding-left: 20px;
    font-weight: 300;
}

/* call to action home page */
#launch-recipes {
    float: right;
    background-color: #ffd700;
    color: #f88657;
    margin: 25px 5px 5px 5px;
    padding: 2px;
    font: inherit;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px outset #f88657;
    font-size: 130%;
    text-decoration: none;
}

#launch-recipes:hover {
    background-color: #f88657;
    color: #ffd700;
    border: 3px outset #ffd700;
}

#launch-recipes a {
    color: #f88657;
    padding: 5px;
}

#launch-recipes a:hover {
    color: #ffd700;
}

/* about us section on home page */
#about-us {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#about-us h2 {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

#about-us div {
    color: #ffd700;
    background-color: rgba(248, 134, 87, .6);
    width: 30%;
    height: 125px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    margin: 20px 20px 0px 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px;
}

#about-us h3 {
    color: #ffd700;
    padding: 10px 10px 0 10px;
}

#about-us p {
    color: #ffd700;
    padding: 10px 10px 0 10px;
}

/* link styling */
.underline {
    border-bottom: 1px solid #ffd700;
}

/* styling for recipes section on recipes page */
#recipes {
    clear: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#recipes h2 {
    margin: 10px 0;
}

#recipes a {
    text-decoration: none;
    color: inherit;
}

/* flip card container on recipes page */
/* code adapted from w3c "https://www.w3schools.com/howto/howto_css_flip_card.asp" */
.flip-card {
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #ffd700;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* positioning and animation for front and back side of flip cards */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  /* horizontal flip on mouse over */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img {
    width: 300px;
    height: 300px;
  }
  
  /* Style the back side */
    .flip-card-back {
    background-color: transparent;
    color: #ffd700;
    transform: rotateY(180deg);
    text-align: left;
  }

  .flip-card-back a {
    color: #ffd700;
    text-decoration: none;
    padding-left: 5px;
  }

  .flip-card-back h4 {
    margin: 5px 0;
    padding-left: 5px;
  }

  .flip-card-back li {
    list-style: none;
    color: #f88657;
    padding-left: 10px;
  }

/* styling for form section on request page */
/* code adapted from love running project */
.form-section {
    clear: left;
    background: url('../images/form-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 160px 10% 0 0;
    color: #f88657;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 300px;
    position: absolute;
    left: 2%;
    padding: 30px;
    border: 1px solid #ffd700;
}

.signup-form h2 {
    color: #ffd700;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #f88657;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #ffd700;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f88657;
}

.request-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    font-family: inherit;
    font-weight: 700;
    background-color: #ffd700;
    color: #f88657;
    display: block;
    text-transform: uppercase;
    border: 5px solid #f88657;
}

.request-button:hover {
    background-color: #f88657;
    color: #ffd700;
    border: 5px solid #ffd700;
}

/* styling for 404 page */
#fof {
    height: 900px;
    width: 100%;
    background: url('../images/404-bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* styling for thank you page, visable upon form submission */
#thanks {
    height: 900px;
    width: 100%;
    background: url('../images/thanks-bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}

.img-text {
    text-align: center;
    padding-top: 10px;
}

.img-text a {
    text-decoration: none;
    color: inherit;
}

.img-text h2, .img-text p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0;
}

/* footer styling */
/* code adapted from love running project */
footer {
    width: 100%;
    background-color: #000;
    border-top: 1px solid #ffd700;
}

.social-icons {
    text-align: center;
}

.social-icons > li {
    	display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 1%;
    padding: 1% 5%;
    color: #ffd700;
}

/* media queries */

/* for screens 420px and smaller */
@media screen and (max-width: 420px) {
    #tag-line {
        font-size: 85%;
    }

    #menu {
        clear: both;
        float: left;
        margin: 10px 0 10px 20px;
        line-height: 20px;
        letter-spacing: 2px;
    }

    #menu li {
        margin-right: 10px;
    }

    #hero-text {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #about-us {
        margin-bottom: 20px;
    }

    #about-us div {
        clear: both;
        display: block;
        width: 85%;
        font-size: 95%;
    }

    .flip-card a, .flip-card h4, .flip-card li {
        font-size: 95%;
    }

    .form-section {
        clear: both;
        height: 500px;
    }

    .signup-form {
        text-align: center;
        width: 200px;
        margin: 20px 20px;
    }

    .request-button {
        display: inline-block;
        border: 5px solid #f88657
    }

    .request-button:hover {
        border: 5px solid #ffd700;
        background-color: #f88657;

    }

    #thanks, #fof {
        clear: both;
    }
}