/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Oleo+Script+Swash+Caps&display=swap');

/* removes all margin, padding and borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* styling for body */
body {
    font-family: "Montserrat", sans-serif;
    color: #ffd700;
    background-color: #000;
    overflow: scroll;
}

header {
    height: 80px;
    border-bottom: 1px solid #ffd700;
}

/* logo styling */
#logo {
    float: left;
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 300%;
    font-weight: 400;
    color: #ffd700;
    letter-spacing: 3px;
    margin-left: 25px;
}

/* menu styling */
#menu {
    float: right;
    font-size: 115%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f88657;
}

.active {
    border-bottom: 1px solid #f88657;
}

#tag-line {
    clear: both;
    font-size: 95%;
    font-weight: 300;
    color: #f88657;
    margin-left: 50px;
    position: absolute;
    top: 60px;
}

/* hero image and text*/
#hero-image {
    clear: both;
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #ffd700;
}

#hero-text {
    font-size: 95%;
    width: 250px;
    height: 25px;
    background-color: rgba(248, 134, 87, 0.8);
    box-shadow: 5px 5px;
    position: absolute;
    top: 100px;
    right: 40px;

    margin-top: 100px;
    padding: 10px 10px;

    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

#hero-text h2 {
    padding-left: 20px;
    font-weight: 300;
}

#launch-recipes {
    float: right;
    background-color: #ffd700;
    color: #f88657;
    margin: 25px 5px 5px 5px;
    padding: 2px;
    font: inherit;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px outset #f88657;
}

#launch-recipes:hover {
    background-color: #f88657;
    border: 2px outset #ffd700;
}

#launch-recipes a {
    text-decoration: none;
    color: #f88657;
    padding: 5px;
}

#launch-recipes a:hover {
    color: #ffd700;
}

#about-us {
    height: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

#about-us h2 {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

#about-us div {

    color: #ffd700;
    background-color: rgba(248, 134, 87, .6);
    width: 30%;
    height: 125px;
    
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;

    margin: 20px 20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px;
}

#about-us h3 {
    color: #ffd700;
    padding: 10px 10px 0 10px;
}

.underline {
    border-bottom: 1px solid #ffd700;
}

#about-us p {
    color: #ffd700;
    padding: 10px 10px 0 10px;
}

iframe {
    margin: 0 auto;
    display: block;
}

#recipes {
    clear: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    /*margin: 10px 0;*/
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #ffd700;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img {
    width: 300px;
    height: 300px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: transparent;
    color: #ffd700;
    transform: rotateY(180deg);
    text-align: left;
  }

  .flip-card-back a {
    color: inherit;
    text-decoration: none;
    padding-left: 5px;
  }

  .flip-card-back h4 {
    margin: 5px 0;
    padding-left: 5px;
  }

  .flip-card-back li {
    list-style: none;
    color: #f88657;
    padding-left: 10px;
  }

  
/* footer styling */
footer {
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 1px solid #ffd700;
}

.social-icons {
    text-align: center;
}

.social-icons > li {
    	display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 1%;
    padding: 1% 5%;
    color: #ffd700;
}
